div {
  display: grid;
  place-items: center;
  opacity: 1;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-name: fadeIn;
  animation-duration:1s;
}

body {
  background-image: url(images/back.png)
}
h1,h2{
  color:white;
  font-family: Verdana, sans-serif;
}
h1{
  font-size: 50px; 
}
h2{
  font-size: 30px;
}
img {
  display: block;
  margin: auto;
  width: 20%;
  border-radius: 50%;
}
@keyframes fadeIn{
  0%{opacity: 0}
  100%{opacity: 1}
}




